*{
     padding: 0px;
     margin: 0px;
 }
 #navbar
 {
     position: sticky;
     top: 0px;
     z-index: 1;
     width: 100%;
     height: 70px;
     background-color:gray;
     box-shadow: 0px 5px 10px black;
 }
 #mainlist
 {
     display: flex;
     list-style: none;
     box-shadow: 5px 0px 30px black;
 }
 a{
     color: white;
     text-decoration: none;
 }
 .li
 {
     width: 250px;
     background-color: rgb(2, 2, 80);
     padding: 20px;
     box-shadow: 0px 3px 20px black;
     height: 29px;
     font-size: 30px;
     text-align: center;
     
 }
 .li:hover
 {
     background-color: lightblue;
 }
 .li:hover a
 {
     color: black;
 }
 #sublist
 {
     list-style: none;
     display: none;
 }
 #sublistplace
 {
     width: 250px;
     color: white;
     text-align: center;
 }
 #sublist:hover{
     color: black;
 }
 .sli
 {
     color: white;
     position: relative;
     top: 18px;
     padding: 5px 0px 5px 0px;
     width: 290px;
     right: 20px;
     background-color: rgb(2, 2, 80);
     box-shadow: 0px 0px 10px black;
 }
 .sli:hover{
     background-color: lightblue;
     color: black;
 }
 #sublistplace:hover #sublist
 {
     display: block;
     opacity: 0.8;
 }